<form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
  <label
    >Nome:
    <input type="text" formControlName="fristName" />
    <span
      *ngIf="
        cadastroForm.get('fristName')?.errors &&
        (cadastroForm.get('fristName')?.dirty ||
          cadastroForm.get('fristName')?.touched)
      "
      >Adicionar um nome</span
    >
  </label>
  <br /><br />
  <label
    >Sobrenome:
    <input type="text" formControlName="lastName" />
  </label>
  <br /><br />
  <label
    >Email:
    <input type="email" formControlName="email" />
  </label>
  <p>{{ cadastroForm.get("email")?.errors | json }}</p>
  <br /><br />
  <input type="submit" value="Enviar" [disabled]="cadastroForm.invalid" />
  <p>{{ cadastroForm.get("fristName")?.errors | json }}</p>
</form>
