<h2>Interpolation</h2>
<p>{{ nome }} tem {{ idade }} anos</p>
<p>{{ nome }} tem mais de 28 anos?</p>
<p>{{ idade > 28 }}</p>

<p>Quanto é {{ idade }} + 1?</p>
<p>{{ idade + 1 }}</p>
<br /><br />

<h2>Property Binding</h2>
<button type="button" [disabled]="checkedDisable">Button</button>
<br /><br />

<h2>Event Binding</h2>
<button type="button" (click)="alertaInfo($event)">Evento</button>
<!-- $event é utilzado para adquirir todas as informações sobre a tag/elemento html -->
<div
  (mousemove)="mouseMoveTest($event)"
  style="background: red; width: 300px; height: 300px"
></div>
<p>{{ position.x }} e {{ position.y }}</p>
<br /><br />

<h2>Two-Way binding</h2>
<!-- Para fazer o ngModel funcionar, tem que importa-lo do FormModule no app.module -->
<input type="text" [(ngModel)]="nome" />
<p>{{ nome }}</p>
