<!-- Verificar se a condição é verdadeira ou falso! -->
<h1>NgIf</h1>
<p *ngIf="condition; else elseBlock">Testando</p>
<ng-template #elseBlock>
  <p>false</p>
</ng-template>
<hr />
<p *ngIf="conditionClick">true</p>
<p *ngIf="!conditionClick">false</p>
<button type="button" (click)="onClick()">Clicar</button>
<br /><br />
<!-- Insere os valores de acordo com a leitura do array -->
<h1>NgFor</h1>
<ul type="none">
  <li *ngFor="let item of list; let i = index" (click)="onClickEventList(i)">
    {{ i }} - {{ item.nome }} - idade = {{ item.idade }}
  </li>
</ul>
<button type="button" (click)="onClickAddList()">Clicar</button>
