<header>
  <nav>
    <ul>
      <li>
        <a
          routerlink="/"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >Home</a>
      </li>
      <li>
        <a
          routerLink="/sobre"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >Sobre</a>
      </li>
      <li>
        <a
          [routerLink]="['/404']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >Erro</a>
      </li>
    </ul>
  </nav>
</header>
