<!--
   Componente Angular
 -->

<!-- {{ valor }}
<app-title *ngIf="destruir"></app-title>
<br /><br />
<button type="button" (click)="destruirComponent()">
  Destruir componente
</button>
<button type="button" (click)="adicionar()">Adicionar</button>
<router-outlet></router-outlet> -->

<!--
  Data Binding
 -->

<!-- <app-data-binding></app-data-binding>
<router-outlet></router-outlet> -->

<!--
  Diretiva Angular
 -->
<app-diretivas-estruturais></app-diretivas-estruturais>
<router-outlet></router-outlet>
