<ng-content select="h1"></ng-content>
<!-- Utilizado para mudar valores de classes -->
<h1 [ngClass]="{ active: valor, disabled: !valor }">NgClass</h1>
<br /><br />
<hr />
<!-- Utilizado para mudanças de valores de estilo -->
<h1 [ngStyle]="{ height: heightpx, background: backgroundColor }">NgStyle</h1>
<br /><br />
<hr />
<!-- adiciona vinculação de dados bidirecional a um elemento de formulário HTML -->
<h1>NgModel</h1>
<input type="text" [(ngModel)]="nome" />
<p>{{ nome }}</p>
<button type="button" (click)="salvarNome()">Salvar</button>
<br /><br />
<li *ngFor="let item of list; let i = index" (click)="excluirNome(i)">
  {{ i }} - {{ item.nome }}
</li>
<p *ngIf="list == null">Nenhum nome salvo!</p>
<br /><br />
<hr />
<h1>NgTemplate</h1>
<!-- Faz a verificação da condição antes mesmo de renderizar o conteudo! -->
<ng-template ngIf="true">
  <p>true</p>
</ng-template>
<br /><br />
<hr />
<h1>NgContent</h1>
<!-- Permite receber valores de 'fora' do templete e redirecionalo para a posição desejada, também permintindo valores dinâmicos independente do conteúdo! -->
<ng-content select="hr"></ng-content>
<br /><br />
<hr />
<!-- Funções prontas de formatação que pode ser personaliza, para seus tipos acessar a documentação do Angular -->
<h1>Pipes</h1>
<p>
  {{ date | date : "dd/MM/yyyy" }}
</p>
