<form #form="ngForm">
  <label>
    Nome:
    <input type="text" name="nome" ngModel />
  </label>
  <br /><br />
  <label>Masculino</label>
  <input type="radio" name="sexo" value="Masculino" ngModel />
  <br /><br />
  <label>Feminino</label>
  <input type="radio" name="sexo" value="Feminino" ngModel />
  <br /><br />
  <label>Outros</label>
  <input type="radio" name="sexo" value="Outros" ngModel />
  <br /><br />
  <label>Angular</label>
  <input type="checkbox" name="angular" ngModel />
  <br /><br />
  <label>Vue</label>
  <input type="checkbox" name="vue" ngModel />
  <br /><br />
  <label>React</label>
  <input type="checkbox" name="react" ngModel />
</form>

<p>{{ form.value | json }}</p>
