<form #form="ngForm" (ngSubmit)="submitForm(form)">
  <label>
    Nome:
    <input
      type="text"
      name="nome"
      #name="ngModel"
      [ngModel]="name.value"
      required
    />
  </label>
  <span *ngIf="name.invalid && name.dirty && name.touched">Invalid</span>
  <br /><br />
  {{ name.valid }} {{ name.dirty }} {{ name.touched }}
  <!-- Form.valid -->
  <!--
    valid: Verifica se o form está valido
    invalid: Verifica se o form está invalido
    dirty: Verifica se o form ja foi sujo
    touched: Verifica se o forme ja foi tocado
   -->
  <br /><br />
  <label>Masculino</label>
  <input type="radio" name="sexo" value="Masculino" ngModel />
  <br /><br />
  <label>Feminino</label>
  <input type="radio" name="sexo" value="Feminino" ngModel />
  <br /><br />
  <label>Outros</label>
  <input type="radio" name="sexo" value="Outros" ngModel />
  <br /><br />
  <label>Angular</label>
  <input type="checkbox" name="angular" ngModel />
  <br /><br />
  <label>Vue</label>
  <input type="checkbox" name="vue" ngModel />
  <br /><br />
  <label>React</label>
  <input type="checkbox" name="react" ngModel />
  <br /><br />
  <select name="comidas" ngModel>
    <option value="" selected>Selecione sua comida</option>
    <option [ngValue]="item" *ngFor="let item of listComidas">
      {{ item.comida }} - R${{ item.preco }}
    </option>
  </select>
  <br /><br />
  <input type="submit" value="Enviar" [disabled]="form.invalid" />
</form>

<p>{{ form.value | json }}</p>
